/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,	
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------- UJUNG CSS RESET ----- */

table{
	font-family: ITC Avant Garde Gothic, Century Gothic, Arial;
	font-size: 13;
	background-color: rgba(18, 45, 70, 0.1);
}

tr{
	height: 30px;
	line-height: 30px;
}

td{
	border: 1px grey solid;
	padding-left: 5px;
	padding-right: 5px;
	display: table-cell;
	vertical-align: middle;
	color: rgba(18, 45, 70, 1);
}

th{
	border: 1px grey solid;
	display: table-cell;
	vertical-align: middle;
	background-color: rgb(18, 45, 70);
	color: rgba(208, 215, 245, 1);
	font-weight: bold;
}

.bawah table .sorot{
	background-color: rgb(255, 255, 203);
}