body{
	background-color: rgb(18, 45, 70);
}

.gambar{
	width: 540px;
	height: 80px;
	/*background: url(logo.png);*/
	background-position: 0, 0;
	margin: 400px auto auto auto;

}

.teks{
	font-family: univers condensed, Sans-serif;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	font-size: 43px;
	letter-spacing: 4px;
	color: white;
	font-variant: small-caps;
	text-align: center;
}