table{
	border-collapse: collapse;
	border: 1px;
	font-family: sans-serif;
}

.kolom-cari{
	height: 80px;
	border: 1px solid grey;
}

button:hover{
	cursor: pointer;
	transition: 0.2s;
}